@use './normalize.scss';
@use './variables.scss' as *;

.leaflet-container {
  min-height: 100dvh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.leaflet-popup-tip,
.leaflet-popup-content-wrapper {
  background-color: cadetblue;
}
